@import url("https://use.typekit.net/kid6drd.css");
@import url("https://fonts.googleapis.com/css2?family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kavivanar&display=swap");


* {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  transition: all .3s ease-out;
}


@font-face {
    font-family: 'Wilson';
    src: url('fonts/Wilson.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('fonts/Gotham-Book.otf');
    font-style: normal;
}


@font-face {
    font-family: 'Reckless';
    src: url('fonts/RecklessNeue-Medium.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Avara';
    src: url('fonts/avara.woff');
    font-style: normal;
}

@font-face {
    font-family: 'Terminal';
    src: url('fonts/terminal-grotesque-webfont.woff');
    font-style: normal;
}




@font-face {
    font-family: 'Hershey Times';
    src: url('fonts/Hershey-Noailles-Times-Duplex-Italic-Regular.woff');
    font-style: normal;
}


@font-face {
    font-family: 'Hershey Futura';
    src: url('fonts/Hershey-Noailles-Futura-Duplex-Regular.woff');
    font-style: normal;
}

@font-face {
    font-family: 'Bodoni';
    src: url('fonts/BodoniBook.otf');
    font-style: normal;
}

@font-face {
    font-family: 'OCR';
    src: url('fonts/OCR-A-Regular.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Redaction';
    src: url('fonts/Redaction_70-Regular.woff2');
    font-style: normal;
}

@font-face {
    font-family: 'Alte Haas';
    src: url('fonts/AlteHaasGroteskRegular.ttf');
    font-style: normal;
}


@font-face {
    font-family: 'Berthold';
    src: url('fonts/Berthold-Akzidenz-Grotesk-BE-Bold.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Berthold Medium';
    src: url('fonts/Berthold-Akzidenz-Grotesk-BE-Medium.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Windsor Cond Bold';
    src: url('fonts/WindsorBQ-Elongated.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Windsor Cond Light';
    src: url('fonts/WindsorEF-LightCondensed.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Fira Code';
    src: url('fonts/FiraCode-Regular.ttf');
    font-style: normal;
}

@font-face {
    font-family: 'Gill Sans Italic';
    src: url('fonts/GillSansStd-Italic.otf');
    font-style: normal;
}


@font-face {
    font-family: 'Franklin Gothic';
    src: url('fonts/franklinGothic.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Olive';
    src: url('fonts/Olive_DEMO.otf');
    font-style: normal;
}

@font-face {
    font-family: 'Parabole Trial';
    src: url('fonts/ParaboleTrial-Regular.otf');
    font-style: normal;
}


@font-face {
    font-family: 'Daniel';
    src: url('fonts/danielbd.ttf');
    font-style: normal;
}






/* american */
.author134492.authorstyle, .author134492 {
  font-family: 'Parabole Trial';
  color: #7500DB;
}

/* zai */
.author88210.authorstyle, .author88210 {
  font-family: 'Kavivanar', cursive;
  /* font-family: 'Hershey', cursive;
  letter-spacing: -1px; */
  color: #ff7a3f;
}




/* tristian */
.author173504.authorstyle {
  font-family: bebas-neue-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #ffc20d;
}

/* krystal */
.author173503.authorstyle {
  font-family: "Courier";
  color: teal;
}

/* teresa */
.author173506.authorstyle {
  font-family: Arial;
  color: #5113bd;
}

/* angus */
.author173746.authorstyle {
  font-family: "Special Elite", cursive;
  font-style: normal;
  color: #000;
}
.author173746.authorstyle p p,
span.author173746.authorstyle ,
.author173746.authorstyle li,
.author173746.authorstyle span.contrib
{
  background-color: #c9f2f2;
}


/* david */
.author37613.authorstyle {
  font-family: 'Wilson';
  font-style: normal;
  color: #000;
}
.author37613.authorstyle p p,
span.author37613.authorstyle ,
.author37613.authorstyle li,
.author37613.authorstyle span.contrib
{
  background-color: #E6E6FA;
}



/* lauren g */
.author17810.authorstyle {
  font-family: "Special Elite", cursive;
  font-style: normal;
  color: #000;
}
.author17810.authorstyle p p,
span.author17810.authorstyle ,
.author17810.authorstyle li,
.author17810.authorstyle span.contrib
{
  background-color: #f2ffad;
}




/* tash */
.author159845.authorstyle {
  font-family: "Ubuntu", sans-serif;
  color: #df73ff;
  font-weight: 300;
}


/* diana */
.author173736.authorstyle {
  font-family: "Ubuntu", sans-serif;
  color: #7851A9;
  font-weight: 300;
}


/* jessica */
.author173499.authorstyle {
  font-family: Helvetica;
  color: #289d2c;
}

/* paras */
.author173502.authorstyle {
  font-family: Courier;
  color: #6b8e23;
}


/* ryan */
.author23411.authorstyle {
  font-family: 'Lato', sans-serif;
  color: #20B2AA;
  font-style: normal;
  font-weight: 400;
}

/* kevin */
.author173500.authorstyle {
  font-family: 'Reckless';
  color: #DD1327;
  line-height: 1.3;
}

/* trevor */
.author173534.authorstyle {
  font-family: Arial;
  color: purple;
}

/* timur */
.author7454.authorstyle {
  font-family: Times;
  color: #ff0000;
} .author7454.authorstyle p {
  font-style: italic;
  letter-spacing: -.03em;
}

/* sara */
.author173494.authorstyle {
  font-family: 'IBM Plex Sans', sans-serif;
  font-weight: 500;
  color: #0000ee;
}

/* connor */
.author13842.authorstyle {
  font-family: 'IBM Plex Sans', sans-serif;
  color: #B9E7B6;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #8CBB89;
  font-weight: 700;
} .author13842.authorstyle p p,
.author13842.authorstyle li {
  /* background-color: #B9E7B6; */
}


/* lissa */
.author173501.authorstyle {
  font-family: 'Bodoni';
  color: #800020;
}

/* miranda */
.author173613.authorstyle {
  font-family: 'OCR';
  color: #FF7A66;
}

/* cameron */
.author173508.authorstyle {
  font-family: 'Alte Haas';
  color: yellow;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #000;
}

/* lauren m. */
.author173730.authorstyle {
  font-family: 'Arial';
  color: #FF00FF;
}

/* Heather */
.author173830.authorstyle {
  font-family: 'Redaction';
  color: #ff008a;
}


/* rahel */
.author162734.authorstyle {
  font-family: Georgia;
  color: #000066;
}


/* sus */
.author173737.authorstyle {
  font-family: 'Gill Sans Italic';
  color: #0511CF;
}

/* tyler */
.author25047.authorstyle {
  font-family: 'Fira Code';
  color: #FF0000;
}

/* makshya */
.author173495.authorstyle {
  font-family: Helvetica;
  color: #F5C4C0;
  /* font-weight: bold; */
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #e09d98;
}


/* .author173495.authorstyle {
  font-style: normal;
  font-family: Helvetica;
  color: #000;
}
.author173495.authorstyle p p,
.author173495.authorstyle li {
  background-color: #F5C4C0;
} */





/* matt ross */
.author126808.authorstyle {
  font-family: 'Roboto Mono', monospace;
  color: #556b2f;
} .author126808.authorstyle p {
  font-style: italic;
}

/* ilona */
.author72134.authorstyle {
  font-family: 'Kavivanar', cursive;
  color: #CC7722;
}



/* lluvia */
.author160124.authorstyle {
  font-family: 'Daniel';
  color: #E4007C;
}


/* leanne */
.author173505.authorstyle {
  /* font-family: 'Hershey Futura'; */
  font-family: 'Gotham';
  color: #159ED9;
}



/* ————————————————————————————————————————————————————————————————————————————————————— */


/* makayla */
.author102862.authorstyle {
  font-family: 'Avara';
  color: orange;
}

/* bronte */
.author173511.authorstyle {
  font-family: 'Hershey Times', cursive;
  color: #b08213;
} .author173511.authorstyle p {
  letter-spacing: -1px;
}


a {
  color: inherit;
  /* text-decoration-style: dotted; */
}


/* p {
    margin-block-start: 0em !important;
    margin-block-end: 0in !important;
} */

p {
  mix-blend-mode: multiply;
}
.description {
  border-left: .03in solid #000;
  /* margin-top: 0.25in; */
  /* font-size: calc(1em * 0.75); */
}

img {
  margin-bottom: 0.25in !important;
}
p.description{
  /* font-size: 14pt; */
  padding-left: .2in;
  padding-top: .05in;
  padding-bottom: .05in !important;
  /* line-height: 1.3; */
  margin-block-start: 0in !important;
  margin-block-end: 0.25in !important;
  display: block;
  margin-bottom: 0in;
}

h2,  p.description h2{
  font-size: 14pt;
  padding-left: 0in;
  padding-top: 0in;
  padding-bottom: 0in !important;
  margin-block-start: 0in !important;
  margin-block-end: 0in !important;
  display: block;
  margin-bottom: 0in;
  font-weight: normal;
}

p ol {
  margin-block-end: 0.25in !important;
}



.description ul {
  margin-block-start: 0 !important;
  margin-block-end: 0 !important;
  padding-inline-start: 0px;
}


.description ul li {
  list-style: none;
}



.neutral  {
  font-family: "Special Elite", cursive;
  /* letter-spacing: .5px; */
  /* font-size: 16pt; */

  /* font-family: 'Berthold Medium'; */
  /* font-size: 12pt; */
  font-size: 10pt;
  /* font-weight: bold; */

  color: #000 !important;
  font-style: none !important;
  /* font-weight: bold; */
  /* padding-top: 0.25in; */
  line-height: 1.25;
  margin: 0.5em 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-text-fill-color:  none !important;
 -webkit-text-stroke-width: 0px !important;
 -webkit-text-stroke-color: none !important;
}

.neutraltitle  {
  font-family: "Special Elite", cursive;
  font-size: 12pt;
  color: #000 !important;
  font-style: none !important;
  line-height: 1.25;
  margin: 0 0 1vw 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -webkit-text-fill-color:  none !important;
 -webkit-text-stroke-width: 0px !important;
 -webkit-text-stroke-color: none !important;
 display: block;
}


.page-header  {
  /* font-family: 'Berthold Medium'; */
  /* font-size: 14pt !important; */
  /* font-size: 12pt !important; */

  /* letter-spacing: .5px; */
  font-family: "Special Elite", cursive;
  /* font-size: 20pt !important; */

  color: #000;
  font-style: none !important;

  /* font-weight: bold; */
  font-weight: normal;
  -webkit-text-fill-color:  none !important;
 -webkit-text-stroke-width: 0px !important;
 -webkit-text-stroke-color: none !important;
}

.page-header {
    text-transform: lowercase;
    text-transform: capitalize;
}

.page-header::first-letter {
    text-transform: uppercase;
}

img:hover {
  filter: none;
}

ol {
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: upper-roman;
    padding-left: 0.15in !important;
}



blockquote {
  margin-block-start: 0em  !important;
    margin-block-end: 0em !important;
    margin-inline-start: 0px !important;
    margin-inline-end: 0px !important;
    font-style: italic;
}


.📖-controls {
  opacity: 0;

}


.📖-left .block  {
    left: -.35in;
}

.📖-right .block  {
    left: -.65in;
}


.margin-top {
  margin-top: 1in;
  display: block;
}

.About {
  /* font-size: 15.5pt; */
  font-size: 1.22vw;
  line-height: 1.4;
  margin-top: 0px;
  /* display: inline-block; */
  /* line-height: 1.1; */
  /* margin-bottom: 20px; */
}



.Ack{
  line-height: 1.3 !important;
}


.Asterisk {
  text-indent: -.12in;
  /* margin-left: .05in; */
  line-height: 1;
  font-size: 15.5pt;
}


.About u {
  text-decoration-style: dotted;
  cursor: pointer;
}


.About u:hover {
  color: #000;
  text-decoration: none;
}

sup.wordinline {
  font-family: "Special Elite", cursive;
  font-size: 12pt;
  /* font-weight: bold; */
}


.center {
  /* text-align: center; */
  text-align: left;
  /* margin-top: 1in;
  margin-bottom: -1in; */
}

.flex {
  display: flex;
  justify-content: space-between;
}



.contributors {
  font-size: 17pt;
  line-height: 1.65;
  display: inline-block;
  margin-right: 20px;
  text-align: center;
}

.contributors sup {
  color: #000 !important;
}





/* ——————————————————————————————— */


body {
  background: #000;
  overflow: scroll;
}

.left {
  width: 50vw;
  background: #000;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  display: block;
}


.page {
  width: 32vw;
  height: 92vh;
  background: #fff;
  display: block;
  overflow: scroll;
  box-sizing: border-box;
  padding-top: 2vw;
  padding-bottom: 2vw;
  border: 1px solid #000;
  cursor: move;
}

.cover {
  width: 31vw;
  height: 92vh;
  background: #000;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  left: 60vw;
  top: 2vw;
  background-image: url("images/cover.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #555;
}

/* 1688 x
    2625 92 */

    /* 400  x
       2625 92 */

.spine {
  /* width: 7.58vw; */
  width: 7.45vw;
  height: 92vh;
  background: #000;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  right: 40vw;
  top: 2vw;
  background-image: url("images/spine.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #555;
}

.back {
  width: 31vw;
  height: 92vh;
  background: #000;
  display: block;
  overflow: hidden;
  box-sizing: border-box;
  position: fixed;
  right: 47.45vw;
  top: 2vw;
  background-image: url("images/back.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid #555;
  /* opacity: .5; */
}






.leftpage {
  padding-left: 4vw;
  padding-right: 2vw;
}

.num {
  font-family: "Special Elite", cursive;
  font-size: 10pt;
  color: #000 !important;
  font-style: none !important;
}

.leftpage .num {
  position: absolute;
  bottom: 2vh;
  right: 2vw;
}


.rightpage {
  padding-left: 2vw;
  padding-right: 4vw;
}

.rightpage .num {
  position: absolute;
  bottom: 2vh;
  left: 2vw;
}

#introduction:hover,
#contributors:hover,
#acknowledgements:hover,
.page:hover,
.current-z {
  z-index: 100000;
}

.stack {
  top: 2vh !important;
  right: 50vw !important;
  /* z-index: -1 !important; */
}

#introduction {
  position: fixed;
  top: 2vh;
  right: 50vw;
  transform: rotate(-1deg);
}

.introduction-z {
  z-index: 1000;
}

#contributors {
  position: fixed;
  top: 5vh;
  right: 50vw;
  transform: rotate(4deg);
}

.contributors-z {
  z-index: 100;
}

#acknowledgements {
  position: fixed;
  top: 6vh;
  right: 52vw;
  transform: rotate(-4deg);
}

.acknowledgements-z {
  z-index: 10;
}

span {
  margin: 0;
  padding: 0;
  display: inline;
}

.navigation {
  position: fixed;
  left: 2vw;
  top: 2vw;
  text-align: left;
  line-height: 1.5;
  z-index: 100000000000000;
}

.navigation a {
  color: blue;
  display: block;
  cursor: pointer;
  text-decoration: underline;
}

.preview {
  position: fixed;
  left: 2vw;
  bottom: 2vw;
  color: #fff;
  text-align: left;
  line-height: 1.5;
  z-index: 100000000000000;
}

.preview a {
  color: blue;
  display: block;
}

.preview a.big {
  font-size: 24px;
  display: block;
  margin-bottom: 2vw;
}

.big {
  font-size: 1.6vw;
  line-height: 1.3;
}

.small {
  font-size: 1.22vw;
  line-height: 1.3;
}

.description {
  font-size: 1.1vw;
  line-height: 1.3;
}

.hide, .hidepages {
  /* display: none; */
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.show {
  /* display: none; */
  visibility: hidden;
  opacity: 100;
}

.z {
  z-index: 100000000;
}

.negative {
  margin-left: -.3vw;
}

.active-link {
  color: #000;
  text-decoration: none;
}


#dark-matter {
  position: fixed;
  top: 25vh;
  right: 6vw;
  transform: rotate(6deg);
}

#poetic-computation {
  position: fixed;
  top: 5vh;
  right: 4vw;
  transform: rotate(3deg);
}

#zoom {
  position: fixed;
  top: 15vh;
  right: 10vw;
  transform: rotate(-5deg);
}
